fastapi==0.86.0
openai==0.25.0
uvicorn==0.19.0
PyHyphen==4.0.3
nltk==3.7
psycopg2==2.9.5
appdirs==1.4.4
requests==2.28.1
psycopg2==2.9.5
Cython==0.29.32
numpy==1.23.5
spacy==2.1.0
imageio==2.22.4
pillow==9.3.0
